@import "./variable";

.details {
  background-color: rgba(255, 255, 255, 0.85);
  width: 90%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 40px;
  padding-top: 20px;
  //height: 410px;
  height: 495px;
  border-radius: 25px;
  @include tablet {
    width: 80%;
    height: 690px;
    border-radius: 45px;
  }
}

.details h2 {
  //margin: 0;
  text-align: center;
  font-size: 1.5rem;
  font-family: $font-family-demi;
  @include tablet {
    font-size: 2rem;
  }
}

.transaction-details {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 20px;
  height: 285px;
  @include tablet {
    height: 450px;
    padding-bottom: 25px;
  }
}

.list-header {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  font-family: $font-family-demi;
  font-size: 0.85rem;
  @include tablet {
    font-size: 1rem;
    width: 95%;
  }
}

.list-header h3 {
  margin-top: 0;
}

.transaction-details div {
  width: 46%;

  font-size: 0.85rem;
  overflow: scroll;
  @include tablet {
    font-size: 1rem;
  }
}

.transaction-details button {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: red;
}

.money-in-list,
.money-out-list {
  display: flex;
  justify-content: space-between;
  //padding: 5px;
  flex-direction: column;

  @include tablet {
    justify-content: space-between;
    //padding: 5px 10px;
  }
}

.money-in-item,
.money-out-item {
  display: flex;
  justify-content: space-between;
  background-color: rgba(192, 192, 192, 0.35);
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 25px;
  // @include desktop {
  //   flex-direction: row;
  //   justify-content: space-around;
  // }
}

.money-in-item div,
.money-out-item div {
  display: flex;
  flex-direction: column;
  width: 75%;
  @include desktop {
    width: 35%;
  }
}

.money-in-item__source,
.money-out-item__source {
  padding-bottom: 5px;
}
