//
// HEADER
//

.header {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
}

.header-wrapper {
  padding-bottom: 15px;

  @include tablet {
    display: flex;
    justify-content: space-between;
    height: 75px;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    padding-top: 15px;
  }
}

.header h2 {
  font-family: $font-family-demi;
  font-size: 2rem;
  text-align: center;
  margin: 15px 0;
}

.navbar {
  width: 90%;
  display: flex;
  justify-content: space-between;
  @include tablet {
    width: 100%;
  }
}

.navbar a {
  @include tablet {
    margin-left: 30px;
  }
}
